<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="use-file">
        <input type="file">
        <button>Begin</button>
    </div>
    <div class="use-url">
        <input type="text">
        <button>Begin</button>
    </div>
    <div>
        <video id="video" controls width="500" height="400"></video>
        <div id="time-stamp-container"></div>
        <div class="time-stamp">
            <input type="text">
            <span>0:00</span>
            <button>Add TimeStamp</button>
        </div>
    </div>
    <button id="generate-btn">
        Generate Url
    </button>
    <a id="url-output"></a>
    <script src="/static/js/new.js"></script>
</body>
</html>